@model IEnumerable<MVC3AplicacionPrueba.Models.MenuEntidad>

@{
    ViewBag.Title = "Menu";
}

<p>
    @Html.ActionLink("+ Nuevo", "Create", null, new { @class = "BotonNuevo btn btn-primary NoSubrayado" })
</p>
<br/>
<table class="tabla">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Modulo
            </th>
            <th class="AnchuraBotonesEdicion"></th>
         <th class="AnchuraBotonesEdicion"></th>
         <th class="AnchuraBotonesEdicion"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcionMenu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.ModuloEntidad.descripcion)
                </td>
               

                <td>
                    <a class="BotonEdit" href='@Url.Action("Edit", new { id = item.codigoMenu })'>
                        <img alt="" src='@Url.Content("~/Content/BotonesTabla/Edit.png")' />
                    </a>  
                
                </td>
                <td>
                    <a class="BotonDetails" href="@Url.Action("Details", new { id = item.codigoMenu })">
                        <img alt="" src="@Url.Content("~/Content/BotonesTabla/find.png")" /> 
                    </a>
            
                </td>
                
                 <td>
                <a class="BotonDelete" href="@Url.Action("Delete", new { id = item.codigoMenu })">
                    <img alt="" src="@Url.Content("~/Content/BotonesTabla/Delete.png")" /> 
                </a>
            
                </td>                

            </tr>
        }
    </tbody>
    <tfoot>

</table>


