@model MVC3AplicacionPrueba.Models.Modelado.ModelHojaBultos.ModelResumenHojaBultos

@{
    ViewBag.Title = "Hoja Bultos";
}

<script src="@Url.Content("~/Scripts/CorteOrdenes/ui/jquery.ui.core.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CorteOrdenes/ui/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CorteOrdenes/ui/jquery.ui.datepicker.js")" type="text/javascript"></script>
 
<script type="text/javascript" src="@Url.Content("~/Scripts/Fecha/jquery.ui.datepicker-es.js")"></script>	

<script src="@Url.Content("~/Scripts/HojaBultos/GenerarHojaBultos.js")" type="text/javascript"></script>


@using (Html.BeginForm("", "", FormMethod.Post, new { id = "formularioGenerarHojaBulto" }))
{


    <table class="chooseLista colorBlanco Negrita">
        <tr>
            <td class="colorAmarillo" colspan="3">Datos</td>
        </tr>
        <tr>
            <td>Codigo:  @Html.TextBoxFor(model => model.codigoOrden, new {@class = "validate[required]",@readonly="true"})
                
            </td>
                
            <td>Cliente: @Html.TextBoxFor(model => model.cliente, new {@class = "validate[required]",@readonly="true"})
            </td>
            <td></td>
           
        </tr>
    </table>
  
    <table class="chooseLista colorBlanco Negrita">
        <tr>
            <td class="colorAmarillo" colspan="5">Generación</td>
        </tr>
        <tr>
            <td>Inicio de Serie:<input id="serieComienza" type="text" style="width: 30px;"></td>
            <td>Split por Capa:<input id="generar_SplitCuerpo" type="text" value="36"  style="width: 30px;"/></td>
            <td>Cantidad Por Talla:<input id="generar_CapasPorTalla" type="text" value="110" style="width: 30px;"/></td>
            <td>Repeticiones de Cuerpo:<input id="generar_RepeticionesDeCuerpo" type="text"  value="2" style="width: 30px;"/></td>
           
            <td> <button id="generar_BotonGeneracion" type="button">Generar</button></td>
            
        </tr>
    </table>
       
         <br />
    
    <table class="tablaAjax">
        <thead>
            <tr>
                 <th>Serie</th>
                <th>Seccion</th>
                <th>Nro Bulto</th>
                <th>Capa</th>
                <th>Talla</th>
                <th>Cantidad</th>    
                
            </tr>
        </thead>
        <tbody>
          
        </tbody>
        <tfoot>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            
        </tfoot>

    </table>
    <br/>
    <p>
        <button id="GuardarHojaBulto" type="submit">Guardar</button>
    </p>
}
<br/>
<div style="height: 48px;" >
    
    <a class="BotonBack" href="@Url.Action("Index","Ordenes")">
       <img alt="" src="@Url.Content("~/Content/BotonesTabla/back.png")" /> 
    </a>

</div>
