@model MVC3AplicacionPrueba.Models.Departamento

@{
    ViewBag.Title = "Departamento";
}


    <table class="chooseLista colorBlanco Negrita">
        <tr>
            <td class="colorAmarillo" colspan="3">Detalle Departamento</td>
        </tr>
        <tr>
            <td>Departamento:</td>
            <td> @Html.DisplayFor(model => model.nombreDepartamento)</td>
        </tr>
        <tr>
            <td>Comentario:</td>
            <td>  @Html.DisplayFor(model => model.comentarioDepartamento)</td>
        </tr>
        <tr>
            <td>Linea:</td>
            <td>  @Html.DisplayFor(model => model.codigoLinea)</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ActionLink("Editar", "Edit", new { id=Model.codigoDepartamento },new{@class="btn btn-primary NoSubrayado"})</td>
        </tr>
    </table>



<br/>
<div style="height: 48px;" >
    
    <a class="BotonBack" href="@Url.Action("Index")">
       <img alt="" src="@Url.Content("~/Content/BotonesTabla/back.png")" /> 
    </a>

</div>
   