@model MVC3AplicacionPrueba.Models.ChangePasswordModel

@{
    ViewBag.Title = "Cambiar Contraseña";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
   

    <table class="chooseLista colorBlanco Negrita">
        <tr>
            <td class="colorAmarillo" colspan="2">Cambiar Contraseña</td>
        </tr>
        <tr>
            <td>Contraseña Actual:</td>
            <td style="color: black"> @Html.PasswordFor(model => model.OldPassword,new {})
             @Html.ValidationMessageFor(m => m.OldPassword)
            </td>
        </tr>
        <tr>
            <td >Nueva Contraseña:</td>
            <td style="color: black">   @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </td>
        </tr>
        <tr>
            <td>Confirmar Contraseña:</td>
             <td style="color: black">   @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </td>
        </tr>
      <tr>
            <td></td>
            <td>   <input type="submit" value="Cambiar Contraseña" /></td>
        </tr>
            
    </table>


    <div style="height: 48px;" >
    
        <a class="BotonBack" href="@Url.Action("Index", "Home")">
            <img alt="" src="@Url.Content("~/Content/BotonesTabla/back.png")" /> 
        </a>

    </div>
}